
@font-face {
    font-family: 'DemonCubicBlockFont Black';
    font-style: normal;
    font-weight: normal;
    src: local('DemonCubicBlockFont Black'), url('./Fonts/cubicblock_b.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'DemonCubicBlockFont Dark';
    font-style: normal;
    font-weight: normal;
    src: local('DemonCubicBlockFont Dark'), url('./Fonts/cubicblock_d.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'DemonCubicBlockFont Shade';
    font-style: normal;
    font-weight: normal;
    src: local('DemonCubicBlockFont Shade'), url('./Fonts/cubicblock_s.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'DemonCubicBlockFont';
    font-style: normal;
    font-weight: normal;
    src: local('DemonCubicBlockFont'), url('./Fonts/cubicblock.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'DemonCubicBlockFont Tile';
    font-style: normal;
    font-weight: normal;
    src: local('DemonCubicBlockFont Tile'), url('./Fonts/cubicblock_t.woff') format('woff');
    }

    
@font-face {
    font-family: 'Quick End Jerk';
    font-style: normal;
    font-weight: normal;
    src: local('Quick End Jerk'), url('./Fonts/quick_end_jerk.woff') format('woff');
    }

    h1 {
        font-family: Quick End Jerk;
        margin: 0;
        font-weight: 200;
        /* font-size: 150px; */
    }